@use 'components/shared/styles/mixins' as *;

.layout {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--site-url-bars-h, 0px) - var(--chrome-bar-top, 0px) - var(--chrome-bar-bottom, 0px));
    margin-top: var(--chrome-bar-top, 0);

    @include mobile-or-tablet-screen {
        flex-direction: column;
        height: 100vh;
    }

    .deriv-header {
        display: none;
    }
}
